
body {
    background: #f3f3f4;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
}

#header {
    background: #f3f3f4;
}

.breadcrumbs-container {
    background: #fff;
    padding-right: 15px;
    padding-left: 15px;
}

div.breadcrumbs {
    background: transparent;
    color: #676a6c;
    padding: 0;
}

div.breadcrumbs a {
    color: #676a6c;
}
